body {
  margin: 0;
  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
